.DS_Store
build/
xcuserdata
gps2photos.xcodeproj/project.xcworkspace/xcshareddata/*
builds
buildOutput/
fastlane/report.xml
fastlane/test_output/
fastlane/Appfile
Fastlane/Deliverfile
DerivedData
fonts
built
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output
vendor
demo
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xccheckout
*.moved-aside
*.xcuserstate
